---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="My About Page">
  <section class="container about" aria-label="About Me">
    <img
      src="/images/headshot.jpg"
      alt="My headshot"
      width="330"
      height="330"
    />
    <div class="content">
      <h1 class="h1">Thomas Cano Morant</h1>

      <p>
        Motivated and driven individual with a strong background in sales and
        store management, now pursuing a career in web development.
      </p>
      <p>
        With a passion for working with computers and a basic understanding of
        design and photo modification gained through a course in Desktop
        Publishing.
      </p>
      <p>
        I am eager to expand my skills and knowledge. My experience at Becode
        has provided me with practical experience in web development, and I am
        excited to continue building my expertise in this field.
      </p>
    </div>
  </section>
  <section class="container resume" aria-label="About Me">
    <div class="content">
        
      <h2 class="h2">Education</h2>
      <article>
      <h3 class="h3">
        Full Stack Web Developer Dec 2022 - Jul 2023 <span class="italic"><a href="https://becode.org/"> Becode</a></span>, Ghent
      </h3>
      <p class="italic">
        -Learning Front & Back-end skills through practical cases.
      </p>
      </article>
      <article>
      <h3 class="h3">
        Desktop publishing Sep 2005 - Jun 2006 <span class="italic">CEPEGRA</span>, Court-Saint-Etienne
      </h3>
      <p class="italic">
        -learning desktop publishing, Photoshop, Illustrator, inDesign, QarkXpress.
      </p>
      </article>
      <article>
      <h3 class="h3">
        HMO in IT-transitional technical education <br>Sep 2002 - Jul 2003 <br><span class="italic">Athénée Royal de Gembloux</span>, Gembloux
      </h3>
      <p class="italic">
        -learning programming logic, software creation, network infrastructure.
      </p>
      </article>
    </div>
    <div class="content">
      <h2 class="h2">Employement</h2>
      <article>
      <h3 class="h3">
        Sales Bedroom Solutions Nov 2017 - Nov 2022 <span class="italic">IKEA</span>, Ghent
      </h3>
      <p class="italic">
        -B2C, setting up the department, training of the new colleagues.
      </p>
      </article>
      <article>
      <h3 class="h3">
        Store Manager APR (Dansaert) 2009 - 2016 <br><span class="italic">Mac Line / Easy-m</span>, Brussels
      </h3>
      <p class="italic">
        -B2B, B2C, inventory management, workforce management, organization of in store events.
      </p>
      </article>
      <article>
      <h3 class="h3">
        Sales Photography 2006 - 2009 <span class="italic">Media-Markt</span>, Brussels
      </h3>
      <p class="italic">
        -B2C, Photographic skills training, customer management, supplier order management. 
        <br> -EHBO and fire training.
      </p>
      </article>
    </div>
  </section>
  <section class="container resume" aria-label="About Me">
    <div class="content">
      <h2 class="h2">Skills</h2>
      <div class="bar back basic" data-skill="Javascript"></div>
      <div class="bar back basic" data-skill="Astro"></div>
      <div class="bar back intermediate" data-skill="Laravel / PHP"></div>
      <div class="bar back intermediate" data-skill="TailwindCSS"></div>
      <div class="bar front advanced" data-skill="CSS3"></div>
      <div class="bar front expert" data-skill="HTML5"></div>
    </div>
    <div>
    <Link
    href="/documents/Thomas_Cano_Morant_Resume_2023.pdf"
    style="primary"
    text="Download my Resume"
    icon={{
      name:"tabler:notes",
      side: "right"
    }}
  /> &nbsp;
    <Link
    href="mailto:t.canomorant@icloud.com"
    style="primary"
    text="Contact me"
    icon={{
      name:"tabler:mail",
      side: "right"
    }}
  />&nbsp;
    <Link
    href="https://www.linkedin.com/in/thomas-cano-morant/"
    style="primary"
    text="My LinkedIn profile"
    icon={{
      name:"cib:linkedin",
      side: "right"
    }}
  />
  </div>
  </section>

  
</MainLayout>
