---
// component imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About" description="My About Page">
  <section class="container about" aria-label="About Me">
    <img
      src="/images/headshot.jpg"
      alt="My headshot"
      width="330"
      height="330"
    />
    <div class="content">
      <h1 class="h1">Thomas Cano Morant</h1>

      <h2 class="h2">More about me</h2>
      <p>
        Motivated and driven individual with a strong background in sales and
        store management, now pursuing a career in web development.
      </p>
      <p>
        With a passion for working with computers and a basic understanding of
        designand photo modification gained through a course in Desktop
        Publishing.
      </p>
      <p>
        I am eager to expand my skills and knowledge. My experience at Becode
        has provided me with practical experience in web development, and I am
        excited to continue building my expertise in this field.
      </p>
    </div>
  </section>
  <section class="container about" aria-label="About Me">
    <div class="content">
      <h2 class="h2">Education</h2>
    </div>
  </section>
  <section class="container about" aria-label="About Me">
    <div class="content">
      <h2 class="h2">Experiences</h2>
    </div>
  </section>
  <section class="container about" aria-label="About Me">
    <div class="content">
      <h2 class="h2">Skills</h2>
      <div class="bar back basic" data-skill="Javascript"></div>
      <div class="bar back basic" data-skill="Astro"></div>
      <div class="bar back intermediate" data-skill="Laravel / PHP"></div>
      <div class="bar back intermediate" data-skill="TailwindCSS"></div>
      <div class="bar front advanced" data-skill="CSS3"></div>
      <div class="bar front expert" data-skill="HTML5"></div>
    </div>
  </section>

  <Link
    href="mailto:chris@codinginpublic.dev"
    style="primary"
    text="Contact Me"
  />
</MainLayout>
