---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import Link from "../components/Link.astro";

// utils imports
import { formatBlogPosts } from "../js/utils";

const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  limit: 3,
});


---

<MainLayout title="My Blog">
  <section class="container about" aria-label="About Me">
    <img
      src="/images/headshot.jpg"
      alt="My headshot"
      width="330"
      height="330"
    />
    <div class="content">
      <h1 class="h1">Thomas Cano Morant Showcase</h1>
      <p>
        Motivated and driven individual with a strong background in sales and
        store management, now pursuing a career in web development.
      </p>
      <p>
      I am eager to expand my skills and knowledge. My experience at Becode has provided
      me with practical experience in web development, and I am excited to continue
      building my expertise in this field.
      </p>
    </div>
    <Link href="/about/" style="secondary" text="👋 About Me" />
  </section>
  <section class="container" aria-label="New Blog Posts">
  <h2 class="h1">Latests Creations</h2>
  <div class="post-container">
    {
      formattedPosts.map((post) => (
        <PostCard frontmatter={post.frontmatter} url={post.url} tagType="h3" />
      ))
    }
  </div>
</section>
</MainLayout>

